.props {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 10px;
}
.add {
  color: #1890ff;
  margin-left: 10px;
  cursor: pointer;
}
.group {
  display: flex!important;
  align-items: center;
  margin-top: 10px;
}
.remove {
  color: #ff4d4f;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
}
.switch {
  margin-left: 10px;
}
.code {
  margin-top: 20px;

  :global {
    .__json-pretty__ {
      background: #fbfbfb;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      padding: 12px;
    }
  }
}
